$black: #111;
$light-black: #333;
$white: #fff;
$dark-grey: #575757;
$middle-grey: #ebebec;
$light-grey: #f3f3f4;
$orange: #ff9514;
$light-orange: rgb(255 149 20 / 40%);

$main-font-family: nekst, arial, sans-serif;
$secondary-font-family: gilroy, arial, sans-serif;
