.inputs {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 427px;

  &__label {
    color: $dark-grey;
    @include font-small-size;
  }

  &__container {
    padding: 17px 24px 16px;
    background-color: $light-grey;
    border-radius: 16px;

    @media screen and (max-width: 1121px) {
      padding: 17px 24px 16px 31px;
    }

    &_withPercent {
      padding: 8px 7px 7px 24px;
    }
  }

  &__up-block {
    display: flex;
    justify-content: space-between;
  }

  &__number-input {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &_withPercent {
      display: flex;
      justify-content: flex-start;
    }
  }

  &__input {
    width: 100%;
    padding: 0;
    color: $dark-grey;
    background-color: $light-grey;
    border: none;
    outline: none;
    appearance: none;
    @include font-big-size;
  }

  &__span {
    color: $dark-grey;
    @include font-big-size;

    &_withPercent {
      position: relative;

      &::after {
        content: '₽';
        position: absolute;
        bottom: -16px;
        right: -11px;
        color: $dark-grey;
      }
    }
  }

  &__percent {
    padding: 15px 17px;
    color: $dark-grey;
    background-color: $middle-grey;
    border-radius: 16px;
    @include font-middle-size;
  }

  &__down-block {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 98px;
    left: 0px;
    width: 100%;
  }

  &__range-label {
    width: 85%;
  }

  &__range-input {
    width: 100%;
    appearance: none;

    &::-webkit-slider-runnable-track {
      height: 0;
      border: 1px solid $orange;
      background-color: $white;
    }

    &::-moz-range-track {
      height: 0;
      border: 1px solid $orange;
      background-color: $white;
    }

    &::-webkit-slider-thumb {
      width: 20px;
      height: 20px;
      background: $orange;
      border-radius: 50%;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -10px;
    }

    &::-moz-range-thumb {
      width: 20px;
      height: 20px;
      margin-top: -10px;
      background: $orange;
      border-radius: 50%;
      cursor: pointer;
      -webkit-appearance: none;
    }
  }
}
