.page {
  width: 100%;
  max-width: 1440px;
  padding: 0 47px;
  margin: 0 auto;

  @media screen and (max-width: 1119px) {
    padding: 0 36px;
  }

  @media screen and (max-width: 767px) {
    padding: 0 20px;
  }

  &__title {
    margin-top: 216px;

    @media screen and (max-width: 1119px) {
      margin-top: 66px;
    }

    @media screen and (max-width: 767px) {
      margin-top: 46px;
    }
  }

  &__form {
    display: grid;
    grid:
      'vehicle-price down-payment leasing-term' 1fr
      'contract-amount monthly-payment button' 1fr
      / 31.75% 31.75% 31.75%;
    gap: 51px 31px;
    width: 100%;

    @media screen and (max-width: 1439px) {
      grid-template-columns: repeat(3, 31.3%);
    }

    @media screen and (max-width: 1119px) {
      grid-template-areas:
        'vehicle-price vehicle-price'
        'down-payment down-payment'
        'leasing-term leasing-term'
        'contract-amount monthly-payment'
        'button 1fr';
      grid-template-columns: 50% 47.6%;
      gap: 38px 16px;
    }

    @media screen and (max-width: 767px) {
      grid-template-areas:
        'vehicle-price'
        'down-payment'
        'leasing-term'
        'contract-amount'
        'monthly-payment'
        'button';
      grid-template-columns: 1fr;
      gap: 24px;
    }
  }

  &__inputs {
    &_vehicle-price {
      grid-area: vehicle-price;
    }

    &_down-payment {
      grid-area: down-payment;
    }

    &_leasing-term {
      grid-area: leasing-term;
    }
  }

  &__counter-block {
    &_contract-amount {
      grid-area: contract-amount;

      @media screen and (max-width: 1119px) {
        margin-top: 7px;
      }

      @media screen and (max-width: 767px) {
        margin-top: 0;
      }
    }

    &_monthly-payment {
      grid-area: monthly-payment;

      @media screen and (max-width: 1119px) {
        margin-top: 7px;
      }

      @media screen and (max-width: 767px) {
        margin-top: 4px;
      }
    }
  }

  &__button {
    grid-area: button;
    margin-top: 9px;
    

    @media screen and (max-width: 1119px) {
      margin: 4px 0 156px;
    }

    @media screen and (max-width: 767px) {
      margin: 9px 0 64px;
    }
  }
}
