extends ../layouts/default

include ../../components/title/title

block variables
  - const title= "Leasing calculator";

block content
  main.page
    +title({
      titleText: "Рассчитайте стоимость автомобиля в лизинг"
    })
