extends ../layouts/default

include ../../components/title/title
include ../../components/inputs/inputs
include ../../components/counter-block/counter-block

block variables
  - const title= "Leasing calculator";

block content
  main.page
    .page__title
      +title({
        titleText: "Рассчитайте стоимость автомобиля в лизинг"
      })
    .page__content  
      .inputs.inputs_vehicle-price
        +inputs({
          labelText: "Стоимость автомобиля",
          id: "vehicle-price",
          type: "number",
          name: "vehicle-price",
          autofocus: true,
          value: "3300000",
          min: "1500000",
          max: "10000000",
          spanText: "₽",
        })
      .inputs.inputs_down-payment
        +inputs({
          labelText: "Первоначальный взнос",
          id: "down-payment",
          type: "number",
          name: "down-payment",
          value: "420000",
          min: "1500000",
          max: "10000000",
          spanText: "₽",
          withPercent: true,
          percentValue: "13",
        })
      .inputs.inputs_leasing-term
        +inputs({
          labelText: "Срок лизинга",
          id: "leasing-term",
          type: "number",
          name: "leasing-term",
          value: "60",
          min: "6",
          max: "120",
          spanText: "мес.",
        })
      .page__counter-block.page__counter-block_contract-amount
        +counter-block({
          titleText: "Сумма договора лизинга",
          value: "4 467 313",
        })
      .page__counter-block.page__counter-block_monthly-payment
        +counter-block({
          titleText: "Ежемесячный платеж от",
          value: "114 455",
        })
      .page__button
        button Отправить


