.page {
  width: 100%;
  max-width: 1440px;
  padding: 0 47px;
  margin: 0 auto;

  &__title {
    margin-top: 216px;
  }

  &__form {
    display: grid;
    grid:
      'vehicle-price down-payment leasing-term' 1fr
      'contract-amount monthly-payment button' 1fr
      / 31.75% 31.75% 31.75%;
    gap: 53px 31px;
  }

  &__inputs {
    &_vehicle-price {
      grid-area: vehicle-price;
    }

    &_down-payment {
      grid-area: down-payment;
    }

    &_leasing-term {
      grid-area: leasing-term;
    }
  }

  &__counter-block {
    &_contract-amount {
      grid-area: contract-amount;
    }

    &_monthly-payment {
      grid-area: monthly-payment;
    }
  }

  &__button {
    grid-area: button;
    margin-top: 9px;
  }
}
