.counter-block {
  display: flex;
  flex-direction: column;
  gap: 13px;

  &__title {
    margin: 0;
    color: $dark-grey;
    @include font-small-size;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__value {
    color: $light-black;
    @include font-biggest-size;
  }


  &__svg {
    display: block;
    width: 39px;
    height: 39px;
  }

  &__svg-path {
    fill: $light-black;
  }
}
